<!DOCTYPE html>
<html>
<head>
	<title>My Website</title>
	<meta charset="UTF-8" />
	
	<style type="text/css">
		* { font-family: Verdana, Arial, sans-serif; }
		body { background-color: #fff; cursor: default; }
		h1 { font-size: 15pt; }
		p { font-size: 10pt; }
	</style>
</head>

<body>
	<h1>User Information</h1>
	<ul>
        <li>Username : {{ Username }}</li>
        <li>Password : {{ Password }}</li>
    </ul>
</body>
</html>